body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: lightcoral;
}

#title {
    width: 200px;
    justify-content: left;
    display: flex;
    order: 0;
}

#play {
    width: 200px;
    display: flex;
    justify-content: center;
    order: 1;
}

#timer {
    width: 200px;
    justify-content: right;
    display: flex;
    order: 2;
}

#info {
    display: flex;
    justify-content: space-between;
}

#play:hover {
    color: white;
    cursor: default;
}

#floor {
    width: 100%;
    height: 3px;
    background-color: black;
    position: fixed;
    bottom: 200px;
    left: 0px;
}

@keyframes jump {
    80% {transform: translateY(-499px);}
}

@keyframes rotate {
    100% {transform: rotate(180deg);}
}