body {
    background-color: #E0E9C4;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #4B564D;
    cursor: default;

}

#title {
    width: 200px;
    justify-content: left;
    display: flex;
    order: 0;
}

#play {
    width: 200px;
    display: flex;
    justify-content: center;
    order: 1;
}

#play:hover {
    color: #9AA57C;
}

#timer {
    width: 200px;
    justify-content: right;
    display: flex;
    order: 2;
}

#info {
    display: flex;
    justify-content: space-between;
}

#floor {
    width: 100%;
    height: 200px;
    background-color: #4B564D;
    position: fixed;
    bottom: 0px;
    left: 0px;
}